*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 1.2em;
    align-items: center;
    background-color: rgb(255, 246, 246);
    height: 60px;
}
.navbar > div{
    display: flex;
    padding: 3em;
    gap: 1.2em;
}
div > .urls{
    background-color: rgb(219, 207, 207);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: black;
}
.title{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 32px;
}